html {

    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;

}

body {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: blueviolet;
    padding: 10px;
    margin:0;
}
h2  { 
    font-style: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    -webkit-text-fill-color: rgb(204, 255, 0);

}
aside {
    width: 40%;
    padding-left: 1rem;
    margin-left: 1rem;
    float: right;
    box-shadow: inset 10px 0px 10px 10px #f40488;
    font-style: italic;
    color: #000b10;
  }
  
  aside > p {
    margin: 0.5rem;
  }
  img {
    width: 100%;
  }